
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar
.idea
log
log1
log2
log3
log4
log5
log6

# Development Node modueles are ignored
node_modules/nodeunit
node_modules/.bin/nodeunit
node_modules/.bin/nodeunit.cmd
break/validate.py

# Built files
build/lib
build/logread
build/logappend

# Course test files
check_test.py
dist_tests
*.log
