<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="co.edu.escuelaing.is.labinfo.persistence.mappers.Eps1Mapper">
    <select parameterType="map"  id="loadAllEPS" resultMap="EpsResult">
        Select * from Objects
    </select>
    
    <resultMap type="Eps" id="EpsResult">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="foundBy" property="foundBy"/>  
        <result column="reciver" property="reciver"/> 
        <result column="returner" property="returner"/> 
        <result column="reciverId" property="reciverId"/> 
        <result column="description" property="description"/> 
        <result column="foundDate" property="foundDate"/> 
        <result column="returnDate" property="returnDate"/>		
    </resultMap>
    
    <insert id="save">
        insert into Objects (name,foundBy,description,foundDate)
        <!--values ("Paraguas Negro con rojo", "juan Moreno 2", "se encontro en plataformas", "2018-03-13");-->
        values (#{name}, #{foundBy}, #{description}, #{foundDate});
    </insert>
    
    <update id="update">
        update Objects set name = #{e.name}, 
        foundBy = #{e.foundBy}, 
        reciver = #{e.reciver}, 
        returner = #{e.returner}, 
        reciverId = #{e.reciverId},
        description = #{e.description}, 
        foundDate = #{e.foundDate}, 
        returnDate = #{e.returnDate}
        where id = #{e.id};
    </update>
</mapper>